# NFL DFS

This is an overview of . . .

## Setting up the R Environment

In [1]:
library(dplyr, warn.conflicts = FALSE)
library(ggplot2)
library(reshape2)

# see appendix for more details about this library
library(ffopt)

## Setting up the Database Connection

See the Appendix for additional details.

In [5]:
require(RPostgreSQL)
con <- dbcon()

## DFS Data: 2015 + 2016 seasons

In [6]:
# get dfs data
dfs = dataset.dfs(con)
str(dfs)

'data.frame':	10094 obs. of  12 variables:
 $ gsis_id    : chr  "2015091302" "2015091301" "2015091305" "2015091309" ...
 $ season_year: int  2015 2015 2015 2015 2015 2015 2015 2015 2015 2015 ...
 $ week       : int  1 1 1 1 1 1 1 1 1 1 ...
 $ player_name: chr  "Carolina Defense" "Seattle Defense" "New York J Defense" "Denver Defense" ...
 $ player_pos : chr  "DST" "DST" "DST" "DST" ...
 $ team_code  : chr  "CAR" "SEA" "NYJ" "DEN" ...
 $ opp        : chr  "JAC" "STL" "CLE" "BAL" ...
 $ dk_salary  : int  3100 3400 2900 2800 2700 2800 3000 2800 2800 2800 ...
 $ dk_points  : num  21 19 17 16 16 15 15 14 14 13 ...
 $ ou         : num  41 42 40 46 46 40 46 42 42 46 ...
 $ imptot     : num  22 23 22 25 21 18.5 25 19 20 21 ...
 $ opp_imptot : num  19 19 18 21 25 21.5 21 23 22 25 ...

In [ ]:
# test optimizer
Lineups(dfs %>% 
          rename(position=player_pos, fppg=dk_points, salary=dk_salary) %>%
          filter(season_year==2016, week==1), 
          n=2, max.points=200
)

In [65]:
# list of 17 weeks, 2 years of optimal lineups (34 elements total)
myls <- vector("list", length = 34)
i = 1
for (y in c(2015, 2016)) {
    for (w in seq(1:17)) {
        myls[[i]] = Lineups(dfs %>% 
          rename(position=player_pos, fppg=dk_points, salary=dk_salary) %>%
          filter(season_year==y, week==w, fppg > 10), n=100)
        i = i + 1
    }
}

In [66]:
optdf = do.call(rbind.data.frame, myls) %>%
   select(-gsis_id, -sim.id, -ou, -imptot, -opp_imptot) %>%
   arrange(season_year, week, lineup.id)

In [78]:
optdf %>% 
  group_by(season_year, week, lineup.id, position) %>%
  summarize(n = n())

      season_year week lineup.id position n
1     2015        1    1         QB       1
2     2015        1    1         RB       2
3     2015        1    1         WR       3
4     2015        1    1         TE       2
5     2015        1    1         DST      1
6     2015        1    2         QB       1
7     2015        1    2         RB       2
8     2015        1    2         WR       3
9     2015        1    2         TE       2
10    2015        1    2         DST      1
11    2015        1    3         QB       1
12    2015        1    3         RB       2
13    2015        1    3         WR       3
14    2015        1    3         TE       2
15    2015        1    3         DST      1
16    2015        1    4         QB       1
17    2015        1    4         RB       2
18    2015        1    4         WR       3
19    2015        1    4         TE       2
20    2015        1    4         DST      1
21    2015        1    5         QB       1
22    2015        1    5         RB       2
23    2015        1    5         WR       3
24    2015        1    5         TE       2
25    2015        1    5         DST      1
26    2015        1    6         QB       1
27    2015        1    6         RB       2
28    2015        1    6         WR       3
29    2015        1    6         TE       2
30    2015        1    6         DST      1
⋮     ⋮           ⋮    ⋮         ⋮        ⋮
16971 2016        17    95       QB       1
16972 2016        17    95       RB       3
16973 2016        17    95       WR       3
16974 2016        17    95       TE       1
16975 2016        17    95       DST      1
16976 2016        17    96       QB       1
16977 2016        17    96       RB       3
16978 2016        17    96       WR       3
16979 2016        17    96       TE       1
16980 2016        17    96       DST      1
16981 2016        17    97       QB       1
16982 2016        17    97       RB       2
16983 2016        17    97       WR       3
16984 2016        17    97       TE       2
16985 2016        17    97       DST      1
16986 2016        17    98       QB       1
16987 2016        17    98       RB       2
16988 2016        17    98       WR       3
16989 2016        17    98       TE       2
16990 2016        17    98       DST      1
16991 2016        17    99       QB       1
16992 2016        17    99       RB       2
16993 2016        17    99       WR       3
16994 2016        17    99       TE       2
16995 2016        17    99       DST      1
16996 2016        17   100       QB       1
16997 2016        17   100       RB       2
16998 2016        17   100       WR       3
16999 2016        17   100       TE       2
17000 2016        17   100       DST      1

In [67]:
# what top 100 lineups, on average, score for each position
optdf %>% group_by(season_year, week, lineup.id, position) %>%
  summarize(n = n(), pts = round(mean(fppg), 2)) %>%
  group_by(season_year, position) %>%
  summarize(pts = mean(pts), n = mean(n))

   season_year position pts      n
1  2015        QB       34.61582 1.000000
2  2015        RB       31.88566 2.656471
3  2015        WR       35.31019 3.000000
4  2015        TE       29.50135 1.343529
5  2015        DST      22.20941 1.000000
6  2016        QB       32.94442 1.000000
7  2016        RB       32.99702 2.715882
8  2016        WR       32.61875 3.000000
9  2016        TE       27.36874 1.284118
10 2016        DST      20.66294 1.000000

# Appendix

## Database Setup

In [3]:
dbcon <- function(conf='~/.rconfig') {
  source(conf)
  drv <- dbDriver('PostgreSQL')
  dbConnect(drv, dbname = nfldb.database, user=nfldb.username, password=nfldb.password)
}

In [4]:
dataset.dfs <- function(connxn, seas=2014) {
  q = paste0(
      "SELECT * FROM vw_dfs WHERE season_year >= ", seas)
  dbGetQuery(connxn, q)
}